## GIT IGNORE - DOTNET CORE
*.swp
*.*~
prsdl;koject.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/visualstudiocode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Basic structure for .NET CORE:
src/*/bin
src/*/obj
test/*/bin
test/*/obj

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
